body{
    background-color: aqua;
    font-size: larger;
    font-style:normal;
    width: 900px;;
    height: 1000px;
    
}
#div1 {
    width: 330px;
float: left;

padding-left: 20px;
background-color: #90ee90;
height: 750;
}

#div2 {
    width: 530px;
    float: right;
    vertical-align: top;
    
    padding-left:110px;
    margin: 0 auto;
    background-color: beige;
    height: 750;
    padding: 10px;
    text-decoration-color: blueviolet;
}